*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.pyc
*.seed
*~
.bash_history
Git
app
app.log
bin/.ph
bin/.ph
doc/User/*/SimpleApps
hammer.db
lib
lib-cov
local_settings.py
logs
node_modules
npm-debug.log
pids
results
simpleapps_static
webapps/simpleapps/apache2
webapps/simpleapps/lib
webapps/simpleapps/myproject
webapps/simpleapps/app/user_doc
